<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex">

        <h1 class="head2">Games ></h1>
  
        <div class="row">
          <div class="column2">
            <img src="assets/G1.avif" alt="Theme" width="100" height="180">
            <h4 class="text">Theme 1</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column2">
            <img src="assets/G2.avif" alt="Theme" width="100" height="180">
            <h4 class="text">Theme 2</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column2">
            <img src="assets/G3.webp" alt="Theme" width="100" height="180">
            <h4 class="text">Theme 3</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column2">
              <img src="assets/G4.png" alt="Theme" width="100" height="180">
              <h4 class="text">Theme 4</h4>
              <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
              <i class="fa fa-arrow-down"></i>
            </a>
            </div>
            <div class="column2">
              <img src="assets/G5.png" alt="Theme" width="100" height="180">
              <h4 class="text">Theme 5</h4>
              <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
              <i class="fa fa-arrow-down"></i>
            </a>
            </div>
            <div class="column2">
              <img src="assets/G6.png" alt="Theme" width="100" height="180">
              <h4 class="text">Theme 6</h4>
              <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
              <i class="fa fa-arrow-down"></i>
            </a>
            </div>
            <div class="column2">
              <img src="assets/G7.avif" alt="Theme" width="100" height="180">
              <h4 class="text">Theme 7</h4>
              <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
              <i class="fa fa-arrow-down"></i>
            </a>
            </div>
            <div class="column2">
              <img src="assets/G8.webp" alt="Theme" width="100" height="180">
              <h4 class="text">Theme 8</h4>
              <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
              <i class="fa fa-arrow-down"></i>
            </a>
            </div>
            <div class="column2">
              <img src="assets/G9.jpg" alt="Theme" width="100" height="180">
              <h4 class="text">Theme 9</h4>
              <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
              <i class="fa fa-arrow-down"></i>
            </a>
            </div>
            <div class="column2">
              <img src="assets/G10.avif" alt="Theme" width="100" height="180">
              <h4 class="text">Theme 10</h4>
              <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
              <i class="fa fa-arrow-down"></i>
            </a>
            </div>
        </div>  
      </div>
</body>
</html>
